 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
a{
    text-decoration: none;
}
.heading{
    padding-bottom: 0.6rem;
}
.content{
    color:hsl(240, 1%, 49%) ;
    line-height: 1.5rem;
    font-size: 16px;
}

.container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,auto) ;
    grid-gap: 1rem;
    grid-template-areas: 
    'navbar navbar navbar'
    'image image new'
    '. . new'
    '. . .';
    padding: 2rem 5rem;
    padding-top: 1rem;
    height: 100vh;
}
.box{
    padding: 1.5rem;
}

#navbar{
    grid-area: navbar;
    display: grid;
    grid-template-columns: auto auto 1px;
    height: 50px;
    padding: 0 ;
}

#navbar .links a{
    color: black;
    padding:0rem 1rem;
    font-size: 17px;
    line-height: 50px;  
}

#navbar .links{
    text-align: right;
}

#navbar .links a:hover{
   color:hsl(5, 85%, 63%);
}
#navbar .logo{
    height:50px;
}
#navbar .logo img{
    display:block;
    height:50px;
}
#navbar .menu-bar img{
    display:none;
    float: right;
    padding-top: 1rem;
}

#image{
    grid-area: image;
    background: url(/assets/images/image-web-3-desktop.jpg) no-repeat center ;
    background-size: cover;
    height: 240px;
}
#new{
    grid-area: new;
    background-color:hsl(240, 100%, 5%);
    padding: 2rem;
}
#new h1 {
    padding-bottom: 1.5rem;
    color: hsl(35, 77%, 62%);
}

#new .heading a{
    color:white ;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1.5px;
}

#new .heading a:hover{
    color:hsl(35, 77%, 62%) ;
}

#new p{
    color:hsl(240, 11%, 81%)  ;
}

.web3 {
    font-weight: 800;
    font-size: 65px;
    padding: 0;
    padding-right: 1rem;
    line-height: 4rem;
}

.btn{
    background-color: hsl(5, 85%, 63%);
    padding: 1rem 4rem;
    color: white;
    margin-top: 1rem;
    font-size: 13px;
    letter-spacing: 3px;
}
.btn:hover{
    background-color: black;
}

.read-more{
    padding-left:0rem;
    padding-top: 0;
}
.read-more .content{
 margin-bottom: 3rem;
}
.line{
    margin: 1rem 0rem;
}
.number{
    color:hsl(240, 11%, 81%);
}

.retro, .laptop, .gaming{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    padding-left: 0;
    padding-top: 0;
}

.retro a, .laptop a, .gaming a{
    color: black;
    padding: 5rem 0rem;
}
.retro a:hover, .laptop a:hover , .gaming a:hover {
    color:hsl(5, 85%, 63%);
}
.retro-img{
    background: url(/assets/images/image-retro-pcs.jpg) no-repeat center;
    background-size: cover;
}

.laptop-img{
    background: url(/assets/images/image-top-laptops.jpg) no-repeat center;
    background-size: cover;
}

.gaming-img{
    background: url(/assets/images/image-gaming-growth.jpg) no-repeat center;
    background-size: cover;
}

/*``````````````````````````````````````````RESPONSIVE``````````````````````````````````````````````````*/
@media only screen and (min-width:615px) and (max-width: 1186px)
{
.container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,auto); 
    grid-gap: 1.4rem; 
    padding: 1rem 2rem;
    grid-template-areas: 
    'navbar navbar'
    'image new'
    'web3 new'
    'read-more retro'
    'laptop gaming';
}
.content{
    font-size:15px
}

#image{
    background: url(/assets/images/image-web-3-mobile.jpg) no-repeat center ;
    background-size: cover;
    height: 300px;
}
.line{
    margin: 1rem 0rem;
}
.retro{
    grid-area: retro;
    padding: 0;
}
.laptop{
    grid-area: laptop;
    padding: 0;
}
.gaming{
    grid-area: gaming;
    padding: 0;
}
.read-more{
    grid-area: read-more;
    padding: 0 0 2rem 0;
}

.web3{
    grid-area:web3;
    font-size: 50px;
}

}

#navbar .menu-bar img{
    width:65px;
}
/*``````````````````````````````````````````RESPONSIVE``````````````````````````````````````````````````*/
@media only screen and (max-width: 615px) 
{
.container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,auto); 
    grid-gap: 1.4rem; 
    padding: 1rem;
    grid-template-areas: 
    'navbar'
    'image'
    'web3'
    'read-more'
    'new'
    'retro'
    'laptop'
    'gaming';
}
.content{
    font-size:25px
}
.read-more{
    padding: 0 0 2rem 0;
}

#navbar .links{
    display: none;
}
#navbar .logo img{
    height:50px;
}

#navbar .links a{
    font-size: 22px;
    line-height: 3rem;
}
#navbar .menu-bar img{
    display:block;
    width:65px;
}


.web3{
    font-weight: 800;
    font-size: 45px;
    padding: 0;
    line-height: 3rem;
}

#image{
    background: url(/assets/images/image-web-3-mobile.jpg) no-repeat center ;
    background-size: cover;
    height: 300px;
}

.read-more .content{
    margin-bottom: 2rem;
    font-size :15px;
}

.btn{
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    font-size: 13px;
    letter-spacing: 3px;
}

#new{
    padding: 1rem;
}

#new .heading a{
    color:white ;
    font-weight: 700;
    font-size: 20px;   
}

#new p{
    font-size: 14px;
    color:hsl(240, 11%, 81%)  ;
}

.line{
    margin: 1.5rem 0rem;
}
.retro, .laptop, .gaming{
    padding: 0;
}

.retro a, .laptop a, .gaming a{
    font-weight: 800;
    font-size: 20px;
}

.retro .content, .laptop .content, .gaming .content{
    font-size: 20px;
}
}




